.password{font-size: larger;
background-color: rgb(67, 36, 240);
max-width: 50%;
height: 25px;
}
#password{background-color: aqua;
font-size: larger;
width: 99%;}

label{display: block;
margin-bottom: 10px;}